
<!--<div class="container">-->
<!--<div class="jumbotron">-->
  <!--<h1 class="display-3">Bookit</h1>-->
  <!--<p class="lead">We are helping Artists and venues connect with a click. blah blah blah </p>-->
  <!--<hr class="my-4">-->
  <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
  <!--<p class="lead">-->
    <!--<a class="btn btn-primary btn-lg" href="/login" role="button">Log in</a>   &nbsp;  <a class="btn btn-primary btn-lg" href="/register" role="button">Register now</a>-->
  <!--</p>-->
<!--</div>-->
<!--</div>-->

